$background: #f0f1eb;
$icon: #609c9d;
$activeLink: #dc2650;
$menuText: #f0f1eb;
$header: #958286;
$menuBar: #222926;
$link: #f0f1eb;
$text: #222926;
$adBoxBg: #222926;


$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;